
.js-render-main-container {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1200px;
    transform-style: preserve-3d;
    will-change: transform;
}

.js-render-content {
    will-change: transform;
} 

.js-render-ontop {
    z-index: 999;
}

.anim-moveFromRight { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);

    -webkit-animation: moveFromRight .2s ease both;
    animation: moveFromRight .2s ease both;
}

.anim-scaleDown {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);

    -webkit-animation: scaleDown .2s ease both;
    animation: scaleDown .2s ease both;
}

@keyframes moveFromRight {
    from { 
        -webkit-transform: translateX(100%); 
        transform: translateX(100%); 
    }
}

@keyframes scaleDown {
    to { 
        opacity: 0; 
        transform: scale(.8); 
        -webkit-transform: scale(.8); 
    }
}
